form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem 0.8rem;
    font-size: 1.3rem;
    border: none;
    background: #fff;
}

form button {
    color: #1167b1;
    cursor: pointer;
    border-radius: 0 0.3rem 0.3rem 0;
    transition: all 0.3s ease;
}

form button:hover {
    background: #1167b1;
    color: #fff;
    transition: 0.5s;
}

form input {
    border-radius: 0.3rem 0 0 0.3rem;
}

@media (max-width: 640px) {
    form input {
        font-size: 0.9em;
        min-width: 65vw;
        position: relative;
        left: 4vw;
    }

    form button {
        font-size: 0.9em;
        margin-right: 0;
        position: relative;
        left: 4vw;
    }
}

@media (max-width: 420px) {
}
